[submodule "Modules/CUE4Parse"]
	path = Modules/CUE4Parse
	url = https://github.com/FabianFG/CUE4Parse.git
[submodule "Modules/UAssetAPI"]
	path = Modules/UAssetAPI
	url = https://github.com/atenfyr/UAssetAPI.git
[submodule "Modules/Ace7-Localization-Format"]
	path = Modules/Ace7-Localization-Format
	url = https://github.com/GreenTrafficLight/Ace7-Localization-Format.git
